<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <icepay>
        </icepay>
        <payment>
            <icepay_icpcore_creditcard>
                <active>1</active>
                <model>Icepay\IcpCore\Model\PaymentMethod\CreditCard</model>
                <payment_action>order</payment_action>
                <title>Credit Card</title>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <allowspecific>0</allowspecific>
                <group>icepay</group>
            </icepay_icpcore_creditcard>
            <icepay_icpcore_ideal>
                <active>1</active>
                <model>Icepay\IcpCore\Model\PaymentMethod\IDeal</model>
                <payment_action>order</payment_action>
                <title>Ideal</title>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <allowspecific>0</allowspecific>
                <group>icepay</group>
            </icepay_icpcore_ideal>
            <icepay_icpcore_paypal>
                <active>1</active>
                <model>Icepay\IcpCore\Model\PaymentMethod\PayPal</model>
                <payment_action>order</payment_action>
                <title>PayPal</title>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <allowspecific>0</allowspecific>
                <group>icepay</group>
            </icepay_icpcore_paypal>
            <icepay_icpcore_giropay>
                <active>1</active>
                <model>Icepay\IcpCore\Model\PaymentMethod\GiroPay</model>
                <payment_action>order</payment_action>
                <title>GiroPay</title>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <allowspecific>0</allowspecific>
                <group>icepay</group>
            </icepay_icpcore_giropay>
            <icepay_icpcore_directdebit>
                <active>1</active>
                <model>Icepay\IcpCore\Model\PaymentMethod\DirectDebit</model>
                <payment_action>order</payment_action>
                <title>Direct Debit</title>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <allowspecific>0</allowspecific>
                <group>icepay</group>
            </icepay_icpcore_directdebit>
            <icepay_icpcore_mistercash>
                <active>1</active>
                <model>Icepay\IcpCore\Model\PaymentMethod\MisterCash</model>
                <payment_action>order</payment_action>
                <title>MisterCash</title>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <allowspecific>0</allowspecific>
                <group>icepay</group>
            </icepay_icpcore_mistercash>
            <!--<icepay_icpcore_giftcard>-->
                <!--<active>1</active>-->
                <!--<model>Icepay\IcpCore\Model\PaymentMethod\GiftCard</model>-->
                <!--<payment_action>order</payment_action>-->
                <!--<title>Gift Card</title>-->
                <!--<api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>-->
                <!--<allowspecific>0</allowspecific>-->
                <!--<group>icepay</group>-->
            <!--</icepay_icpcore_giftcard>-->
            <icepay_icpcore_paysafecard>
                <active>1</active>
                <model>Icepay\IcpCore\Model\PaymentMethod\Paysafecard</model>
                <payment_action>order</payment_action>
                <title>paysafecard</title>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <allowspecific>0</allowspecific>
                <group>icepay</group>
            </icepay_icpcore_paysafecard>
            <icepay_icpcore_phone>
                <active>1</active>
                <model>Icepay\IcpCore\Model\PaymentMethod\Phone</model>
                <payment_action>order</payment_action>
                <title>Phone</title>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <allowspecific>0</allowspecific>
                <group>icepay</group>
            </icepay_icpcore_phone>
            <icepay_icpcore_sms>
                <active>1</active>
                <model>Icepay\IcpCore\Model\PaymentMethod\Sms</model>
                <payment_action>order</payment_action>
                <title>SMS</title>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <allowspecific>0</allowspecific>
                <group>icepay</group>
            </icepay_icpcore_sms>
            <icepay_icpcore_wiretransfer>
                <active>1</active>
                <model>Icepay\IcpCore\Model\PaymentMethod\WireTransfer</model>
                <payment_action>order</payment_action>
                <title>Wire Transfer</title>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <allowspecific>0</allowspecific>
                <group>icepay</group>
            </icepay_icpcore_wiretransfer>
        </payment>
    </default>
</config>
